* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	position: absolute;
}

#loadingpane {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 100;
	background: rgba(0,0,0,0.9);
	-webkit-perspective: 1000;
	-webkit-perspective-origin: 50% 280px;
	display: none;
}

#loadingpane #loading {
	width: 200px;
	color: #ffffff;
	font-family: Roboto;
	font-weight: lighter;
	font-size: 3em;
	position: absolute;
	left: calc((100%/2) - 80px);
	bottom: 200px;
	-webkit-animation: loadingGlow 3s infinite;
}

@-webkit-keyframes loadingGlow {
	0% {
		text-shadow: none;
		opacity: 1;
	}
	50% {
		text-shadow: 1px 1px 15px rgba(255,255,255,0.9);
		opacity: 0.7;
	}
	100% {
		text-shadow: none;
		opacity: 1;
	}
}

#loadingpane #grid {
	position: relative;
}

#loadingpane #grid .gridcell {
	position: absolute;
	border: 1px solid white;
	background: white;
	-webkit-transform-style: preserve-3d;
}

#loadingpane #grid .gridcell.hidden {
	opacity: 0;
}

#loadingpane #grid .gridcell.zoom-in-out {
	-webkit-animation-name: zoom-in-out;
}

#loadingpane #grid .gridcell.zoom-out-out {
	-webkit-animation-name: zoom-out-out;
}

#loadingpane #grid .gridcell.zoom-out-in {
	-webkit-animation-name: zoom-out-in;
}

#loadingpane #grid .gridcell.zoom-in-in {
	-webkit-animation-name: zoom-in-in;
}

@-webkit-keyframes zoom-in-out {
	100% {
		-webkit-transform: translateZ(250px);
		opacity: 0;
	}
}

@-webkit-keyframes zoom-out-out {
	100% {
		-webkit-transform: translateZ(-250px);
		opacity: 0;
	}
}

@-webkit-keyframes zoom-out-in {
	0% {
		-webkit-transform: translateZ(250px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		opacity: 1;
	}
}

@-webkit-keyframes zoom-in-in {
	0% {
		-webkit-transform: translateZ(-250px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		opacity: 1;
	}
}

#pageoverlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
	z-index: 85;
	display: none;
}

#message {
	width: 500px;
	background: #f5f7ba;
	padding: 15px;
	padding-top: 20px;
	position: absolute;
	top: -100%;
	left: calc((100% - 500px) /2);
	-webkit-transition: top 0.5s;
	z-index: 95;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#message.show {
	top: 10%;
}

#message .icon {
	width: 30px;
	height: 30px;
	font-size: 1.5em;
	position: absolute;
	top: 10px;
	right: 5px;
	cursor: pointer;
	color: #6b6b6b;
}

#message .icon:hover {
	color: #000000;
}

#message .text {
	margin: 20px 0;
	font-family: Roboto;
	font-size: 1.3em;
	font-weight: bold;
	text-align: justify;
}

#body {
	width: 100%;
	height: 100%;
	background: #edf5ea;
	position: relative;
	top: 0;
	left: 0;
}

#main {
	min-width: 900px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.title .name1 {
	font-family: Roboto;
	font-size: 3.5em;
}

.title .name2 {
	font-family: Corbert-Condensed;
	font-size: 1.5em;
}

.title .name2 .name2a {
	font-family: Geometria;
	font-size: 1em;
	color: #9b0000;
}

#login {
	width: 100%;
	height: 100%;
	z-index: 10;
	position: relative;
}

#login #loginlabel {
	width: 400px;
	height: 400px;
	padding: 10px;
	position: relative;
	top: calc((100% - 400px) /2);
	left: calc((50% - 430px));
}

#login #loginlabel > *, #login #loginlabel .title > * {
	float: right;
}

#login #loginlabel .logo {
	margin-bottom: 60px;
}

#login #loginlabel .logo img {
	/*border-radius: 5px;*/
	/*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
}

#login #loginform {
	width: 350px;
	height: 400px;
	position: absolute;
	top: calc((100% - 400px) /2);
	left: 50%;
	padding: 20px 10px;
	/*background: #2b2b2b;*/
	/*background-image: url(../img/bg.jpg);*/
	/*color: #ffffff;*/
	color: #000000;
	margin-top: 10px;
	/*border-radius: 5px;*/
	/*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
	/*border: 1px solid black;*/
	background: #edf5ea;
}

#login #loginform #logintext {
	font-family: Corbert-Condensed;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

#login #loginform form {
	width: 250px;
	height: 200px;
	margin: 0 auto;
}

#login #loginform input {
	width: 100%;
	height: 40px;
	font-size: 1.3em;
	font-family: Roboto;
	font-weight: bold;
	padding-left: 8px;
	margin: 0 auto;
	margin-top: 10px;
}

#login #loginform input#uname {
	margin-top: 50px;
}

#login #loginform button {
	width: 250px;
	height: 40px;
	background: #ab0000;
	font-size: 1.3em;
	font-family: Roboto;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	position: relative;
	left: calc((100% - 250px) /2);
	color: #ffffff;
	outline: none;
}

#login #loginform button:hover {
	background: #cb0000;
}

#login #loginform #loginnotif {
	font-family: Roboto;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	color: #cb0000;
	margin-top: 30px;

}




#app {
	width: 100%;
	height: 100%;
	position: relative;
}

#home {
	width: 100%;
	height: 100%;
	position: relative;
	display: none;
}

.logged-in #login {
	display: none;
}

.logged-in #home,
.logged-in #message {
	display: block;
}

#home #frontflap {
	width: 96%;
	height: calc(100% - 30px);
	position: absolute;
	top: 0;
	left: 2%;
	background: #edf5ea;
	-webkit-transition: top 0.1s;
}

#home #frontflap.open {
	top: -100%;
}

#home #frontflap #homelabel {
	width: 100%;
	height: 130px;
	position: relative;
}

#home #frontflap #homelabel .title {
	width: 310px;
	height: 100px;
	position: absolute;
	top: 50px;
	left: 80px;
}

#homelabel .title .name1 {
	font-size: 2.8em;
}

#homelabel .title .name2 {
	font-size: 1.3em;
}

#homelabel .title .name2 .name2a {
	font-size: 1em;
	font-weight: normal;
}

#home #frontflap #homelabel #userinfo {
	width: 400px;
	height: 48px;
	position: absolute;
	top: 50px;
	right: 80px;
}

#userinfo .username {
	font-family: Roboto;
	font-size: 1.5em;
	line-height: 50px;
	font-weight: bold;
}

#userinfo > .username {
	margin-right: 15px;
	float: right;
}

#userinfo #usermenu {
	width: 50px;
	height: 50px;
	float: right;
	padding: 3px;
	cursor: pointer;
	font-size: 1.5em;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	background: #2b2b2b;
	color: #edf5ea;
}

#userinfo #userdrop {
	display: none;
	position: absolute;
	z-index: 20;
	right: 0;
}

#userinfo #userdrop.show {
	display: block;
}


#userinfo #userdrop #dropwrapper {
	position: relative;
	margin-top: 65px;
	padding: 5px;
	background: #1a1a1a;
	border-radius: 2px;
}

#userinfo #userdrop #dropwrapper::after {
	content:'';
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 16px;
	border-bottom-color: #1a1a1a;
	position: absolute;
	top: -32px;
	right: 9px;
}

#dropwrapper li {
	list-style: none;
	width: 250px;
	height: 40px;
	font-family: Roboto;
	font-size: 1em;
	font-weight: bold;
	line-height: 40px;
	background: #edf5ea;
	padding: 0 10px;
}

#dropwrapper li:not(#account) {
	cursor: pointer;
}

#dropwrapper li:not(#account):hover {
	background: rgb(255,42,42);
	color: #ffffff;
}

#dropwrapper li div:not(.icon) {
	float: left;
}

#dropwrapper li .icon {
	float: right;
	font-size: 1em;
	line-height: 40px;
}

#dropwrapper li#account {
	height: 260px;
	border-bottom: 1px solid rgba(0,0,0,0.5);
	position: relative;
}

#dropwrapper li#account #userpic {
	width: 100%;
	height: 210px;
	position: relative;
}

#dropwrapper li#account #userpic img{
	width: 180px;
	height: 180px;
	position: relative;
	left: calc((100% - 180px) /2);
	top: 20px;
}

#dropwrapper li#account > .username {
	width: 100%;
	height: 40px;
	line-height: 1.5em;
	text-align: center;
}

#home #frontflap #homemenu {
	width: 100px;
	height: 100px;
	display: block;
	position: absolute;
	font-size: 2em;
	line-height: 100px;
	text-align: center;
	bottom: 0;
	right: 0;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	background: #edf5ea;
	cursor: pointer;
	-webkit-transition: bottom 0.1s;
}

#home #frontflap #homemenu:hover,
#home #frontflap.open #homemenu {
	color: red;
	font-weight: bold;
}

#home #frontflap.open #homemenu {
	bottom: -20%;
}

#home #frontflap #nav {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	height: calc(100% - 120px);
	padding: 0 50px 30px 50px;
}

#home #frontflap #nav > div {
	width: calc(100% / 3);
	height: 100%;
	float: left;
	position: relative;
}

#home #frontflap #nav .navwrapper {
	width: 80%;
	height: 80%;
	position: relative;
	top: 10%;
	left: 10%;
}

#nav .navwrapper .navbutton {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	position: relative;
	top: 30px;
	left: calc((100% - 150px) /2);
	-webkit-transition: all 0.1s;
	font-size: 3.5em;
	color: #ececec;
	text-align: center;
	padding-top: 45px;
	cursor: pointer;
}

#nav .navwrapper .navbutton:hover {
	width: 200px;
	height: 200px;
	top: 0px;
	left: calc((100% - 200px) /2);
	font-size: 5em;
	padding-top: 55px;
}

#nav .navwrapper .navtitle {
	width: 100%;
	font-family: Roboto;
	font-size: 2.5em;
	position: absolute;
	bottom: 15%;
	text-align: center;
}

#nav #regpane #regbutton {
	/*background: rgb(56,231,56);*/
	background: rgb(17,211,17);
}

#nav #recpane #recbutton {
	background: rgb(255,42,42);
}

#nav #srcpane #srcbutton {
	background: rgb(83,167,240);
}

#home #backflap {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #1a1a1a;
	background-image: url(../img/bg.jpg);
}

.page {
	width: 100%;
	height: 100%;
	min-width: 800px;
	min-height: 570px;
	position: absolute;
	top: 0;
	padding: 3% 5%;
	left: 100%;
	-webkit-transition: left 0.4s;
	z-index: 90;
}

.page.open {
	left: 0;
}

.page .displaypane {
	width: 100%;
	height: 100%;
	position: relative;
}

.page .displaypane .iconwrapper {
	width: 100px;
	height: 100%;
	position: absolute;
	left: 0;
}

.page .displaypane .iconwrapper .icon {
	font-size: 3em;
	color: #ffffff;
	position: absolute;
	top: 20px;
	left: calc((100% - 50px) /2);
}

.page .displaypane .displaypane2 {
	width: calc(100% - 100px);
	height: 100%;
	position: absolute;
	right: 0;
	background: #edf5ea;
}

.page .displaypane .displaypane2 .input {
	width: 100%;
	height: 100%;
}

.page .displaypane .displaypane2 .input .required {
	font-size: 0.8em;
	font-style: italic;
	color: red;
}

.page .displaypane .closebutton {
	font-size: 1.8em;
	color: #6b6b6b;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}

.page .displaypane .closebutton:hover {
	color: #000000;
}

#registerpage {
	padding-left: 15%;
	padding-right: 15%;
}

#registerpage .displaypane {
	background: rgb(5,184,5);
}

#registerpage .displaypane .displaypane2 .input {
	padding: 20px 50px;
}

#registerpage .input .title {
	height: 50px;
	line-height: 70px;
	font-family: Geometria;
	font-size: 2em;
	font-weight: bold;
}

#registerpage .input .content {
	width: 100%;
	height: calc(100% - 80px);
	padding: 20px 0px;
}

#registerpage .input .content form {
	width: 100%;
	height: calc(100% - 100px);
	margin: 0 auto;
	margin-bottom: 20px;
}

#registerpage .input .content .trackingno,
#registerpage .input .content label[for='subject'],
#registerpage .input .content label[for='desc'],
#registerpage .input .content label[for='type'],
#registerpage .input .content label[for='office'] {
	font-family: Roboto-Condensed;
	font-size: 1.2em;
	color: rgb(17,211,17);
}

#registerpage .input .content .trackingno #input {
	font-family: Geometria;
	font-weight: bold;
	font-size: 1.2em;
	color: black;
}

#registerpage .input .content #subject,
#registerpage .input .content #desc,
#registerpage .input .content #type,
#registerpage .input .content #office {
	font-family: Roboto-Condensed;
	font-weight: lighter;
	font-size: 1.1em;
	margin-top: 5px;
	margin-left: 10px;
	padding: 5px 5px;
}

#registerpage .input .content .subjectwrapper, 
#registerpage .input .content .descwrapper,
#registerpage .input .content .typewrapper,
#registerpage .input .content .officewrapper {
	margin-top: 10px;
}

#registerpage .input .content .subjectwrapper {
	width: 100%;
}

#registerpage .input .content #subject {
	width: 95%;
}

#registerpage .input .content .descwrapper {
	width: 100%;
}

#registerpage .input .content #desc {
	width: 95%;
}

#registerpage .input .content .typewrapper {
	width: 50%;
	float: left;
}

#registerpage .input .content #type {
	width: 90%;
}

#registerpage .input .content .officewrapper {
	width: 50%;
	float: right;
}

#registerpage .input .content #office {
	width: 90%;
}


#registerpage .input .content .buttonwrapper {
	width: 100%;
	height: 100px;
	position: relative;
	padding: 5px;
}

#registerpage .input .content .buttonwrapper .submit-button {
	width: 100%;
	height: 100%;
	font-family: Roboto;
	font-weight: bold;
	font-size: 2.3em;
	background: #edf5ea;
	border: none;
	cursor: pointer;
	color: rgb(17,211,17);
	overflow: hidden;
	border-radius: 5px;
	position: relative;
	outline: none;
}

#registerpage .input .content .submit-button:before {
	content: ' ';
	background: transparent;
	width: 0;
	height: 0;
	border: 45px solid transparent;
	border-left-color: #2b2b2b;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: translateX(-100%);
	-webkit-transition: left 0.4s;
}

#registerpage .input .content .submit-button:after {
	content: 'Register!';
	width: 100%;
	height: 90px;
	background: #2b2b2b;
	font-family: Roboto;
	font-weight: bold;
	color: rgb(17,211,17);
	text-align: center;
	line-height: 90px;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: translateX(calc(-100% - 90px));
	-webkit-transition: left 0.4s;
}

#registerpage .input .content .submit-button:hover:before,
#registerpage .input .content .submit-button:hover:after,
#registerpage .input .content .submit-button:focus:before,
#registerpage .input .content .submit-button:focus:after {
	left: calc(100% + 90px);
}

#receivepage {
	padding-left: 15%;
	padding-right: 15%;
}

#receivepage .displaypane {
	background: rgb(255,42,42);
}

#receivepage .displaypane .displaypane2 .input {
	padding: 20px 50px;
}

#receivepage .input .title {
	height: 50px;
	line-height: 70px;
	font-family: Geometria;
	font-size: 2em;
	font-weight: bold;
}

#receivepage .input .content {
	width: 100%;
	height: calc(100% - 80px);
	padding: 20px 0px;
}

#receivepage .input .content form {
	width: 100%;
	height: calc(100% - 100px);
	margin: 0 auto;
	margin-bottom: 20px;
}

#receivepage .input .content .trackingno,
#receivepage .input .content .subject,
#receivepage .input .content .desc,
#receivepage .input .content .type,
#receivepage .input .content label[for='office'],
#receivepage .input .content label[for='remarks'] {
	font-family: Roboto-Condensed;
	font-size: 1.2em;
	color: rgb(255,42,42);
}

#receivepage .input .content .trackingno #input {
	font-family: Geometria;
	font-weight: bold;
	font-size: 1.2em;
	color: black;
}

#receivepage .input .content .subjectinput,
#receivepage .input .content .descinput,
#receivepage .input .content .typeinput,
#receivepage .input .content #office,
#receivepage .input .content #remarks {
	font-family: Roboto-Condensed;
	font-weight: lighter;
	font-size: 1.1em;
	margin-top: 5px;
	margin-left: 10px;
	padding: 5px 5px;
}

#receivepage .input .content .subjectwrapper, 
#receivepage .input .content .descwrapper,
#receivepage .input .content .typewrapper,
#receivepage .input .content .officewrapper,
#receivepage .input .content .remarkswrapper {
	margin-top: 20px;
}

#receivepage .input .content .infowrapper {
	width: 50%;
	float: left;
}

#receivepage .input .content .subjectwrapper {
	width: 100%;
}

#receivepage .input .content .subject {
	width: 95%;
}

#receivepage .input .content .descwrapper {
	width: 100%;
}

#receivepage .input .content .desc {
	width: 95%;
}

#receivepage .input .content .typewrapper {
	width: 100%;
}

#receivepage .input .content .type {
	width: 95%;
}

#receivepage .input .content .inputwrapper {
	width: 50%;
	float: right;
}

#receivepage .input .content .officewrapper {
	width: 100%;
}

#receivepage .input .content #office {
	width: 95%;
}

#receivepage .input .content .remarkswrapper {
	width: 100%;
}

#receivepage .input .content #remarks {
	width: 95%;
}

#receivepage .input .content .buttonwrapper {
	width: 100%;
	height: 100px;
	padding: 5px;
	position: relative;
}

#receivepage .input .content .buttonwrapper .submit-button {
	width: 100%;
	height: 100%;
	font-family: Roboto;
	font-weight: bold;
	font-size: 2.3em;
	background: #edf5ea;
	border: none;
	cursor: pointer;
	color: rgb(255,42,42);
	overflow: hidden;
	border-radius: 5px;
	position: relative;
	outline: none;
	border: 1px solid black;
}

#receivepage .input .content .submit-button:before {
	content: ' ';
	background: transparent;
	width: 0;
	height: 0;
	border: 45px solid transparent;
	border-left-color: #2b2b2b;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: translateX(-100%);
	-webkit-transition: left 0.4s;
}

#receivepage .input .content .submit-button:after {
	content: 'Receive!';
	width: 100%;
	height: 90px;
	background: #2b2b2b;
	font-family: Roboto;
	font-weight: bold;
	color: rgb(255,42,42);
	text-align: center;
	line-height: 90px;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: translateX(calc(-100% - 90px));
	-webkit-transition: left 0.4s;
}

#receivepage .input .content .submit-button:hover:before,
#receivepage .input .content .submit-button:hover:after,
#receivepage .input .content .submit-button:focus:before,
#receivepage .input .content .submit-button:focus:after {
	left: calc(100% + 90px);
}

#searchpage .displaypane {
	background: rgb(83,167,240);
}